
@font-face {
font-family: 'Intel';
src: url('fonts/Inter-VariableFont_opsz\,wght.woff2') format('woff2');
font-weight: 100 900;
font-display: swap;
}

 


.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 320px;
  background: #1e293b;
}

.main-content {
  margin-left: 320px;
  padding-left: 30px;
  min-height: 100vh;
  background: #0f172a;
  padding-top: 5px;

;
}

h1{
    
font-family: 'Intel';
font-size: 36px;
font-weight: 800;
color: white;

}

.tasks{
font-family: 'Intel';
font-size: 14px;
font-weight: 400;
color: rgb(142, 142, 142);
margin-top: -8px;
}

.addtaskbutton{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #1a2746;

    border: solid 2px;
    border-color: #334155;
    border-radius: 12px;

    width: 100%;
    padding: 16px 12px;
   

    color:rgb(161, 171, 171);

    font-family: 'Intel';
    font-size: 16px;
    font-weight: 400;

    text-align:left;
  
     transition: all 0.2s;
}


.addtaskbutton:hover{
    background-color: #4c5f7a;

}


.taskblock{
    margin-top: 10px;

    background-color: #1a2746;

    border: solid 2px;
    border-color: #334155;
    border-radius: 12px;

    width: 100%;
    padding: 12px 12px;
   
    color:rgb(214, 235, 235);

    font-family: 'Intel';
    font-size: 16px;
    font-weight: 400;

    text-align:left;
     display: flex;
     align-items: center;

     transition: all 0.3s;

}


.taskblock:hover{
    border-color: #34d399
}


.taskblock:hover .sspan{
    border-color: #34d399
}


.addtaskplus{
    color: greenyellow;
}


.tasks{
 max-width: 500px;
}

.taskname{
transition: all 0.2s;
display: block;
}

.taskname:hover{
color: #d5ffc4;
}

.taskProjectTag{
  font-family: 'Intel';
  font-weight: 400;
  font-size: 9px;

  border-radius: 9999px; 
  background-color: #2a807e;
  padding: 4px
}

input[type="checkbox"] {
  display: none;
}

.sspan {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 100%;
    margin-right: 20px;
}

input:checked + .sspan {
  background: green;
  border-color: green;
}

.app{
  display: flex;
  margin: 30px 30px;
  align-items: center;
  
}

.appname{
  font-family: 'Intel';
  font-weight: 600;
  font-size: 36px;
  color: #ffffff;
}

.iconimage{
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.categories{
margin: 40px;
}

.categoriestopic{
  font-family: 'Intel';
  font-weight: 400;
  font-size: 14px;

  color: #8b8b8b;
}

.categoriesBlock{
  font-family: 'Intel';
  font-weight: 400;
  font-size: 14px;
  display: block;

   color: #dcdcdc;
   padding: 6px 10px;

   transition: all 0.3s;
   border-radius: 10px;
}

.categoriesBlock:hover{
  background-color: #26986e;
}

.projectBlock{

  font-family: 'Intel';
  font-weight: 400;
  font-size: 14px;
  display: block;

   color: #dcdcdc;
   padding: 6px 10px;
  padding-left: 24px;           
  position: relative;
}

.projectBlock::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #4ade80;

  box-shadow:
    0 0 4px #4ade80,
    0 0 8px #4ade80,
    0 0 16px rgba(74, 222, 128, 0.5);

  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.projectBlock:hover::before {
    box-shadow:
    0 0 10px #4dfaf7,                            /* ближнее свечение */
    0 0 15px #88fffd,                            /* среднее */
    0 0 23px rgba(64, 171, 189, 0.5);     
    background-color: #4dfaf7;
     
}
 

 .deleteTaskFromList{
  margin-left: auto;
  color: rgba(255, 0, 0, 0.866);
  width: 30px;
  height: 30px;
  border-radius: 50%;
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  
 }

 .taskblock:hover .deleteTaskFromList
 {
   opacity: 1;
   visibility: visible;
 }

 .deleteTaskFromList:hover{
  background-color: #4ade80;
 }

 .deleteTaskFromList:hover svg{
  fill: green;
 }

 